@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.main-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 99;
}


.header-area{
    width: 100%;
    background-color: #413d3da9;
    height: fit-content;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-weight: 900; */
    margin: 0;
    background-color: rgba(31,39,43,0.75);
    /* overflow-x: hidden; */
}

.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.pict img{
    height: 80px;
    padding-top: 5px;
}

.logo{
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.nav {
    background-color:antiquewhite;
    border-radius: 5px;
    display: flex;                   /* Flexbox layout */
    justify-content: space-between;  /* Equal space between each item */
    list-style-type: none;           /* Remove default list bullets */
    padding: 0;                      /* Remove default padding */
    margin: 0;                       /* Remove default margin */
    width: 100%;                     /* Make sure the nav spans the full width */
    max-width: 25%;
}

/* Individual menu items */
.nav .scroll-to-section {
    flex-grow: 1;                    /* Make each item grow to fill the available space */
    text-align: center;
}

/* Menu link styling */
.nav .scroll-to-section a {
    text-decoration: none;           /* Remove underlines from links */
    color: black;                /* Link color */
    display: block;                  /* Make the link cover the entire list item */
    padding: 10px 0;                 /* Add padding for clickable area */
    font-size: larger;               /* Increase font size for better visibility */
}

.wrapper{
    position: relative;
}

.topnav{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    padding: 10px;
    z-index: 9999;
    position: relative;
    background-color: black;
}

.column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scroll-to-section{
    display: block;
}

h3{
    color: #3f0000;
}

h2{
    color: #3f0000;
}

@media screen and (max-width: 600px){
    .main-nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        z-index: 99;
    }
    
    
    .header-area{
        width: 100%;
        background-color: #413d3da9;
        height: fit-content;
    }
    
    body{
        font-family: 'Poppins', sans-serif;
        /* font-weight: 900; */
        margin: 0;
        background-color: rgba(31,39,43,0.75);
        /* overflow-x: hidden; */
    }
    
    .main-nav{
        /* font-size: large; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    
    }
    .pict img{
        height: 50px;
        padding-top: 5px;
    }
    
    .logo{
        font-size: large;
        color: white;
        text-decoration: none;
    }
    
    .nav {
        font-size: 10px;
        width: 100%;                     /* Make sure the nav spans the full width */
        max-width: 600px;
    }

    .wrapper{
        position: relative;
    }
    
    .topnav{
        font-size: 5px;
    }
    
    .MuiTabs-root{
        width: fit-content;
        flex-wrap: nowrap;
    }

    .section-content{
        margin:0px;
    }
    .column{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}